@media screen and (min-width:1000px){
    /*
CSS Credit: http://www.templatemo.com/
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #333333;
}
#MobileButton{
    display:none;

}

a:link, a:visited { color: #750a20; text-decoration: none;} 
a:active, a:hover { color: #FF0000;}

p {
	margin: 0 0 5px 0;
	padding: 0px;
}

h1 {
	margin: 0 0 5px 0;
	padding: 10px 0 10px 0;
	font-size: 24px;
	font-weight: bold;
	line-height: 28px;
	color: #750a20;
}

h2 {
	margin: 0 0 10px 0;
	padding: 5px 0;
	font-size: 16px;
	font-weight: bold;
        color: #4d0909;
}

h3 {
	margin: 0 0 5px 0;
	padding: 2px 0;
	font-size: 12px;
	font-weight: bold;
	color: #750a20;
}

h4 {
	margin: 0 0 5px 0;
	padding: 2px 0;
	font-size: 16px;
	font-weight: bold;
	color: #750a20;
}

.updatedtime {
	font-size: 10px;
	font-weight: bold;
	color: #FF0000;
}

.view_all a{
	clear: both;
	display: block;
	width: 100%;
	padding: 5px 0 1px 0;
	margin-bottom: 5px; 
	font-weight: bold;
	text-decoration: none;
	border-top: 1px dotted #CCC;
}

#templatemo_container {
	margin: auto;
	width: 1000px;
}

#templatemo_top_panel {
	float: left;
	width: 1000px;
	height: 100px;
	margin: 0px;
	color: #FFF;
	background: #003 url(../images/templatemo_top_panel_background.jpg) no-repeat;
}

#templatemo_sitetitle {
	float: left;
	width: 300px;
	margin: 55px 0 0 15px;
	padding: 10px 0 5px 0;
	font-size: 35px;
	font-weight: bold;
	color: #FFF;
}
.templatemo_UserName{
    
    float: right;
    position:relative;
	margin: 105px -300px 60px 50px;
	font-size: 20px;
	font-weight: bold;
	color:FFFACD;
    z-index:151252115121;
}

.templatemo_UserName a
{
    color:White ;
    }


.templatemo_UserName a:hover
{
    color:WindowText;
    }


#templatemo_searchbox {
	float: left;
	width: 320px;
	margin: 40px 0 0 15px;
}

#templatemo_searchbox form {
	margin: 0px;
	padding: 0px;
}

#searchfield{
	background:#FFFFFF;
	border: none;
	color: #000;
	font-size: 13px;
	font-variant: normal;
	height: 16px;
	line-height: normal;
	padding: 4px;
	width: 200px;
}


#searchbutton{
	background: url(images/templatemo_search_button.gif); 
	border: none;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	height: 24px;
	margin: 0 0 0 7px;
	padding: 0 6px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	width: 66px;
}

#templatemo_currentdate {
	float: right;
	width: 300px;
	margin: 5px 15px 0 0;
	text-align: right;
	font-weight: bold;
}

/*------------- Menu ------------------*/
#templatemo_menu {
	float: left;
	width: 1000px;
	height: 30px;
	background: #750a20 url(images/templatemo_menu_bg.gif) repeat-x;
	border-bottom: 1px solid #333;
}

#templatemo_menu ul {
	float: left;
	width: 800px;
	margin: 0;
	padding: 7px 0 0 0;
	list-style: none;
}

#templatemo_menu ul li{
	display: inline;
}

#templatemo_menu ul li a{
	float: left;
	padding: 0 25px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	border-right: 1px solid #FFFFFF;
}

#templatemo_menu li a:hover, #templatemo_menu li .current{
	color: #FFFF00;
}

/* end of menu */

/* content */
#templatemo_content {
	float: left;
	width: 1000px;
}

#templatemo_main_leftcol {
	float: left;
	width: 630px;
	margin-top: 15px;
}

.templatemo_leftcol_subcol {
	float: left;
	width: 285px;
	padding: 0 15px 0 0;
	margin-right: 15px;
}

#templatemo_main_rightcol {
	float: right;
	margin-top: 15px;
	width: 364px;
}

* html #templatemo_main_rightcol {
	margin-left: -15px;	
}

#templatemo_topnews {
	display: block;
	float:right;
	border-bottom: 1px dotted #cccccc;
}

#templatemo_topnews img{
	margin-bottom: 5px;
}
.templatemo_topnewsClass{
    
    margin-bottom: 70px;
    
    
}

#templatemo_gallery_section {
	display: block;
	width: 278px;
	padding: 5px 0 5px 5px;
	margin-bottom: 25px;
	border: 1px solid #CCC;
}

#image_section {
	float: left;
	width: 278px;	
	padding-bottom: 5px;
}

#image_section img{
	float: left;
	margin: 0 3px 3px 0;
	border: none;
}

.regular_section {
	display: block;
	width: 285px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	border-bottom: 1px dotted #CCC;
}

.newsbox {
	clear: both;
	width: 285px;
	padding-bottom: 15px;
}


.newsbox img{
	float: left;
	margin: 0 5px 0 0;
	padding: 0px;
}

.newsbox .newstitle {
	font-size: 16px;
	color:#C00;
	font-weight: bold;
}

.newsbox p{
	font-size: 11px;
}

.regular_section ul{
	clear: both;
	margin: 0 0 10px 0;
	padding: 0 0 0 20px;

   }

.regular_section li a{
	font-weight: bold;
}

.regular_section li a:hover{
	text-decoration: underline;
}

.templatemo_leftcol_fullrow {
	clear: both;
	float: left;
	width: 600px;
	padding: 10px 0 0 10px;
	border: 1px solid #CCC;
	margin-bottom: 25px;
	
}

.templatemo_rcol_sectionwithborder {
	display: block;
	width: 362px;
	border: 1px solid #CCC;
    
	margin-bottom: 25px;	
}

#templatemo_video_section {
	display: block;
	width: 358px;
	margin-top: 10px;	
	margin-left: 10px;
}

* html #templatemo_video_section {
	margin-left: 5px;
}

#templatemo_video_section .video_box {
	float: left;
	width: 106px;
	margin: 0 10px 10px 0;
}

#templatemo_video_section .video_box img{
	margin: 0 0 5px 0;
}

#templatemo_video_section .video_box a{
	font-size: 10px;
	font-weight: bold;
}

#templatemo_video_section .video_box a span{
	color: #FF0000;
	font-size: 10px;
	font-weight: bold;
}

#templatemo_newsletter_section {
	width: 348px;
	margin: 10px;
}

#templatemo_newsletter_section  form {
	margin: 0 30px 0 0;
	text-align: right;
}

#templatemo_newsletter_section  select {
	width: 200px;
	height: 25px;
	padding: 2px 0;
	margin: 0px;
}

#templatemo_newsletter_section .form_row{
	padding: 3px 0px;
}


#templatemo_newsletter_section label {
	margin-right: 10px;
}

#templatemo_newsletter_section input{
	margin-left: 0px;
    margin-top: 0px;
}

#templatemo_newsletter_section .button{
	height: 25px;
	width: 80px;
}

#templatemo_blog_section {
	width: 348px;
	margin: 10px;
}

#templatemo_blog_section .blog_box {
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px dotted #CCC;
}

#templatemo_blog_section .datetime{
	font-weight: bold;
}

#templatemo_poll_section {
	width: 348px;
	margin: 10px;
}

#templatemo_poll_section p{
	padding-bottom: 10px;
}


#templatemo_poll_section img{
	float: right;
}

#templatemo_poll_section .button{
	height: 25px;
	width: 50px;
	margin-right: 25px;
}

#templatemo_partner_section {
	width: 348px;
	margin: 10px;
}

.partner_box {
	width: 348px;
	padding: 0px;
	margin-bottom: 25px;
}

.partner_box p{
	clear: both;
}



/* ----- Footer ----- */
#templatemo_footer {
	clear: both;
	float: left;
	padding: 25px;
	width: 950px;
	color: #FFF;
	text-align: left;
	background: #333333;
}

.footer_leftcol {
	float: left;
	width: 400px;
	padding: 0 0 0 10px;
	margin-right: 25px;
}

.footer_rightcol {
	float: right;
	text-align: right;
	width: 435px;
	text-align: right;
}

.footer_subcol {
	float: left;
	width: 120px;
	margin-left: 25px;
}

#templatemo_footer p{
	padding: 0;
	margin-bottom: 10px;	
	text-align: justify;
}

#templatemo_footer a{
	color: #FFF;
	text-decoration: none;
}

#templatemo_footer a:hover{
	color: #FFF;
	text-decoration: underline;
}

#Answer_Container{
    margin-left: 20px;
    
}
#Answer_Container p,h2{
     margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    font-family: Helvetica,Arial,sans-serif;
}
.Answer_Style samp{
    
    margin-left: 15px;
    color: #4d0909;
}

#Title_Left_Click2{
    
    display: none;
}

#tabcontent_sectionId{
    
    width: 760px;
    
    min-height: 350px;
    margin-top:-294px;
    
    
}

#NewsCategory ul li{
    
    display: table;
    margin-top: 15px;
    
}

.NewsAllStyle h4{
    
    float: left;
    
}
.NewsAllStyle ul{
    

list-style-type:none;
}


#tabcontent_sectionDownloadId{
    
    height: 400px;
    margin-top: 10px;
    width: 664px;
   margin-right:-400px;
}

#regular_sectionId{
    
    margin-top: 15px;
    
}

.DownloadFont{
    
    font-size: larger;
    list-style-type: none;
}
.DownloadFont a{
    color:#9e907f;
}
.DownloadFont a:hover{
    color:#C00;
}

.templatemo_contentClass h2{
    
    margin-top: 15px;
    margin-left: 450px;
}

#templatemo_leftcol_subcolId table{
    
    margin-left: 200px;
    margin-bottom: 30px;
}

#templatemo_leftcol_subcolId h2{
    
    margin-left: 400px;
}

.primaryContentClass{
    
    width: 800px;
    
}

#templatemo_rcol_sectionwithborderId{
    
    width: 150px;
    margin-top: 40px;
}
.Login{
    
    
}

#Profile img{
    
    margin-left: 50px;
    border-bottom: coral;
    margin-bottom: 15px;
    
}

.UploadDelete li a{
    font-size: large;
    
    
}


.UploadDeleteSpace{
    
    margin-left: 160px;
    
}
#Password{
    
    width: 400px;
 
    margin-left: 100px;
 
}

#ChangePassword {
    margin-top: 30px; 
    
}

#ChangePassword label{
    
    font-size: medium;
    margin-left: 20px;
    
}
#ChangePassword td input{
 
 height: 25px
 
}

#EditProfile{
    width: 300px;
    height: 320px;
    background-color:#e4e4e4;
    margin-left: 50px;
    position: absolute;
    margin-left: 100px;
}

#EditProfile label{
    font-size: medium;
}

#EditProfile input{
    height: 20px;
    width: 200px;
}


#EditProfileTable{
    margin-top: 15px;
    margin-left: 45px;
    line-height: 2em;
    
}
#Gender {
    margin-left: 15px;
    margin-top: 10px;
}
.SubmitEditProfile{
    
    background-color: #750a20;
    color: White;
    font-weight: bold;
    margin-top: 15px;
}

.SubmitChangePassword{
    background-color: #750a20;
    color: White;
    font-weight: bold;
    margin-top: 15px;
    
}
#UploadFile
{
    
    margin-left: 45px;
    width:400px;
}

#UploadFileform{
    margin-top: 15px;
    margin-left: 100px;
    line-height: 2.5em;
    
}
    
#UploadFileform label{
    
    font-size:medium;
}

#UploadFileform input{
}
#UploadFileform select{
    
    border-bottom: 2px solid #000;
}
.SubmitUploadFile{
    background-color: #750a20;
    color: White;
    font-weight: bold;
    margin-top: 15px; 
    
}

.Hide{
    
    
}

#Title_Left_Click1,#Title_Left_Click2{
    
    margin-left: 40px;
    
}
.Click{
    
    margin-top: 15px;
    background-color: #750a20;
    color: White;
    font-size: large;
    width: 200px;
    height: 30px;
    margin-left: -3px;
}
.Click:hover{
    
    background-color: White;
    color:#C00;
      
}

#Vote{
    position:relative;
    
}

#PostQuestionContainer{
    background-color:inherit;
    margin-left: 15px;
    width: 630px;
    position: absolute;
}
#QuestionTitle{
    
    margin-left: 50px;
    margin-top: 20px;   
}
#QuestionTitle label{
    
    font-size: large;
}
#QuestionTitle input{
    
    height: 30px;
    width: 400px;
    font-size: 2em;
}
#QuestionImage{
    
    margin-left: 520px;
    margin-top: -40px;
}
#QuestionDetail{
    margin-left: 35px;
    margin-top: 5px;
}

#QuestionDetail label{
    font-size: large;
    
}
#QuestionDetail textArea{
    
    width: 400px;
    height: 250px;
}

#SubmitAns{
    margin-top: 15px;
    height: 40px;
    width: 100px;
    position: absolute;
    margin-left: 370px;
    background-color: #750a20;
    color: #CCC;  
    font-size: large;
}
.UploadButtonMenu
{
    color:White;
    font-size:1.4em;
    }

#tabcontentsectionId{
    
    width: 663px;
    
    min-height: 350px;
    
    
}
#VoteStyle
{
    
    }



/* ----- End of Footer ----- */

}
